.wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.viewport {
  flex: 1;
  overflow: auto;
  background: var(--jp-color-canvas-bg);
}

.grab,
.grab * {
  cursor: grab !important;
}

.grabbing,
.grabbing * {
  cursor: grabbing !important;
}
